<nav class="navbar navbar-inverse navbar-fixed-top navbar-purple" role="navigation">
    <!-- <div class="container"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <!-- Mix & Match -->
            <img src="/assets/images/logo.png" style='width:36px;' />
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">
                    <i class="fa fa-home icons"></i> Home</a>
            </li>

            <li>
                <a href="/instructions">
                    <i class="fa fa-flag icons"></i> Instructions</a>
            </li>
        </ul>
    </div>
</nav>