body {
  overflow-x: hidden;
}

/* scrollbar width */
body::-webkit-scrollbar {
  width: 7px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #737272;
  border-radius: 5px;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #928e8e;
}

.container-fluid {
  background-color: #f4f4f4;
  padding-right: 0px;
  padding-left: 0px;
}

.instruction h3 {
  padding-bottom: 12px;
  border-bottom: 1px dashed #c7c7c7;
}

.navbar-collapse {
  text-align: center;
}

.nav-item a {
  color: white !important;
  padding: 20px;
  font-size: 14px;
  text-decoration: none !important;
}

.nav-item a img {
  vertical-align: sub !important;
}


.breadcrumb-data {
  background-color: white;
}

.breadcrumb-item a {
  color: grey;
}

.wizard {
  margin: 0 auto;
  /* background: #fff; */
  /* height: 13%; */
  background-image: -webkit-linear-gradient(-90deg,
      rgb(255, 255, 255) 62%,
      rgb(250, 250, 250) 62%,
      rgb(244, 244, 244) 100%);
  background-image: -ms-linear-gradient(-90deg,
      rgb(255, 255, 255) 62%,
      rgb(250, 250, 250) 62%,
      rgb(244, 244, 244) 100%);
}

table.dataTable tbody td {
  vertical-align: middle;
}

.wizard .nav-tabs {
  position: relative;
  margin: 0 auto;
  /* margin: 20px auto; */
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
  border: none;
}

.wizard>div.wizard-inner {
  position: relative;
  background-color: #fcfcfc;
}

.wizard-inner p {
  margin-top: 12px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

/*
.line-between:before {
    /* top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #ccc;
    z-index: 1; */
/*  content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
    top: 70%;
    width: 76%;
    left: 12%;
    z-index: 1;
}

.line:after {
    /* content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 0.5em;
    border-top: 2px solid #e0e0e0;
    /* z-index: 1;
    top: 55%;
    width: 100%; */
/* content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    top: 70%;
    width: 76%;
    left: 12%;
    background-color: #ccc;
    z-index: 1;
}

.line.completed:after {
    border-top: 2px solid #5c6bc0;
} */
.connecting-line {
  height: 2px;
  background: #a9a9a9;
  position: absolute;
  width: 76%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  /* top: 62%; */
}

.round-tab img {
  height: 36px;
  vertical-align: -webkit-baseline-middle;
}

.wizard .nav-tabs>li p {
  color: #555555;
  font-size: 14px;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

#add_kit_form .form-group,
#edit_kit_form .form-group {
  margin-bottom: 3%;
}

#add_kit_form,
#edit_kit_form {
  margin-top: 3%;
}

.kit-image-class {
  border: 2px solid #dedede;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 2%;
}

.image-window {
  background-color: #f1f0f0;
  text-align: center;
  height: 72%;
  width: 56%;
  border: 2px dotted #7da7d9;
  border-radius: 10px;
  background-image: url(https://blackboughswim.applicationnexus.com/public/images/placeholder.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

hr {
  width: 100%;
}

.form-control {
  font-size: 14px;
  /* height: 50%; */
  /* border-radius: 1px; */
}

.kit-image-row {
  height: 100%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 50%;
}

#kit-image-btn,
#product-image-btn {
  border: 1px solid gray;
  color: white;
  background-color: #5c6bc0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

#kit-image {
  position: absolute;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.text-class {
  height: 40px;
}

.kit-search {
  margin-bottom: 0;
}

.kit-search .form-control {
  padding-left: 2.375rem;
}

.kit-search .form-control-feedback {
  position: absolute;
  z-index: 0;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}



#kit-table-action,
#product-table-action {
  margin-top: 1%;
  padding-right: 0;
}

#kit-action,
#product-action {
  height: 40px;
  border-radius: 0;
}

.search-class {
  margin-top: 1%;
  padding-left: 0;
  margin-bottom: 2%;
}

#create-kit-btn-group {
  margin-top: 2%;
  float: left;
  width: 50%;
}

.create-text {
  font-size: 16px;
  font-weight: 600;
}

#kit-create-btn {
  color: white;
  background-color: #5c6bc0;
  font-size: 14px;
  width: 130px;
  font-weight: 600;
}

#kit-cancel-btn {
  margin-left: 4%;
  color: white;
  background-color: #787878;
  font-size: 14px;
  width: 130px;
  font-weight: 600;
}

/*
.line.active:after {
    border-top: 2px solid #5c6bc0;
} */

span.round-tab.circle {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  position: relative;
  left: 6%;
  top: -6px;
  line-height: 35px;
  display: inline-block;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  text-align: center;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.round-tab {
  width: 120px;
  height: 40px;
  line-height: 35px;
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  left: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5c6bc0;
  color: #5c6bc0;
}

.wizard li.active span.round-tab.circle {
  background: #fff;
  border: 2px solid #5c6bc0;
  background-color: #5c6bc0;
}

.wizard li.completed span.round-tab {
  background: #fff;
  color: #5c6bc0;
  border: 2px solid #5c6bc0;
}

.wizard li.completed span.round-tab.circle {
  background: #5c6bc0;
}

.wizard li.active span.round-tab i {
  color: #5c6bc0;
}

.wizard li.disabled span.round-tab {
  background: #fff;
  border: 2px solid #a9a9a9;
  color: #c1c1c1;
}

.wizard li.disabled span.round-tab i {
  color: #c1c1c1;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard li.completed span.round-tab img.enabled {
  display: inline-block;
}

.wizard li.completed span.round-tab img.disabled {
  display: none;
}

.wizard li span.round-tab img.enabled {
  display: none;
}

.wizard li span.round-tab img.disabled {
  display: inline-block;
}

.wizard li.active span.round-tab img.enabled {
  display: inline-block;
}

.wizard li.active span.round-tab img.disabled {
  display: none;
}

.wizard li.disabled span.round-tab img.enabled {
  display: none;
}

.wizard li.disabled span.round-tab img.disabled {
  display: inline-block;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs>li {
  width: 20%;
  /* width: 16.5%; */
  text-align: center;
  /* margin: auto; */
  padding-top: 30px;
  margin-bottom: 20px;

}

.wizard .nav-tabs>li p {
  padding-left: 10px;
  color: #555555;
  /*color: #5c6bc0;*/
}


.wizard .nav-tabs>li.active p {
  /*color: #555555;*/
  color: #5c6bc0;
  padding-left: 10px;
  font-weight: 500;
}

.wizard .nav-tabs>li.completed p {
  /*color: #555555;*/
  color: #5c6bc0;
  padding-left: 10px;
}

.line:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid #5c6bc0;
  transition: 0.1s ease-in-out;
}

/*
.wizard li.completed:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 2px solid #5c6;
} */
.control-label {
  font-weight: 500;
}

.wizard .nav-tabs>li a {
  /*width: 70px;
    height: 70px;*/
  width: 50px;
  height: 50px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  margin-top: 0;
  /*margin-top: 20px;*/
}

.wizard .nav-tabs>li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 30px;
}

.wizard-content {
  /*padding: 3%;*/
  /* padding: 2%; */
  /* border-top: 1px solid #cdcdcd; */
  padding: 2%;
  /* margin-top: 1%; */
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

.tab-content {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.tab-class {
  background-color: #ffffff;
  padding: 2%;
}

.list-kit-class {
  background-color: #ffffff;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 2%;
  padding-top: 2%;
  border: 1px solid #e9e9e9;
}

.kit-title-class,
.kit-title-class:hover {
  color: #5c6bc0;
  text-decoration: none;
  margin-bottom: 2%;
}



.wizard h5 {
  margin-top: 0;
}

.wizard-subtitle {
  font-size: 14px;
  color: #737373;
}

.btn-add-category,
.btn-add-category::after,
.btn-add-category:hover,
.btn-add-category::before {
  background-color: #5c6bc0;
  color: white !important;
  font-size: 14px;
  /* width: 15%; */
  text-align: center !important;
  margin-top: 2%;
  padding: 10px 35px;
  border-radius: 2px;
  font-weight: bold;
}

.btn-edit-kit {
  background-color: #5c6bc0;
  color: white;
  font-size: 16px;
}



/***********Products css******/
#product-main-row {
  border-top: 1px solid #eaeaea;
  margin-top: 2%;
}

.kit-listing-class {
  display: block;
  border-right: 1px solid #eaeaea;
}

#kit-product-list {
  list-style-type: none;
  padding-left: 0;
  /* color: #343434; */
}

#kit-product-list li div a {
  color: #343434;
  text-decoration: none;
}


#kit-product-list li.active div a {
  color: #5c6bc0;
  font-weight: bold;
}



#kit-product-list li.active div span {
  display: block;
}

#kit-product-list li div span {
  display: none;
}

.kit-list-name {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 18px;
}

.create-product {
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: center;
  color: #757575;
}

.btn-add-kit-product,
.btn-add-kit-product::after,
.btn-add-kit-product:hover,
.btn-add-kit-product::before {
  background-color: #5c6bc0;
  color: white;
  font-size: 16px;
  width: 120px;
  text-align: center;
}

#add-search-product {
  margin-top: 2%;
  margin-bottom: 2%;
}

.product-search-class {
  padding-left: 0;
}

.product-filters {
  padding-left: 0;
  margin-bottom: 2%;
}


#productsDataTable.dataTable thead th {
  border-bottom: 0;
  border-top: 0;
}

#productsDataTable.dataTable tfoot td {
  border-top: 0;
  border-bottom: 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  background-color: white;
}


.dataTables_scrollHeadInner {
  width: 100%;
}

/********************************************************/
th {
  font-size: 14px;
}

div#frmAddCatDiv {
  margin-bottom: 18px;
}

.next-step {
  background-color: #01c853;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 8px;
  /* padding: 10px; */
}

.prev-step {
  font-size: 16px;
  padding: 8px;
  margin: 0;
}

#activate-btn {
  font-size: 16px;
  padding: 8px;
  margin: 0;
  color: white;
}

.btn {
  border-radius: 2px;
}

.btn-edit {
  color: black !important;
  font-size: 12px;
  border: none;
  font-weight: 500;
  background-color: #f4f4f4;
  border: 1px solid black !important;
}

/*
.btn-edit a {
  color:  !important;
  background-color: #fff;

} */

.btn-delete {
  color: #fb4747 !important;
  font-size: 12px;
  border: none;
  font-weight: 500;
  background-color: #fff;
}

.btn-delete a {
  color: #fb4747 !important;
  background-color: #fff;
}

btn-primary:hover {
  color: #fff !important;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /* padding-top: 4%; */
  padding-top: 1%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  /* height: 100%; */
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 70%;
  height: auto;
  /* padding: 10px; */
  /* height: 50%; */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  width: 100%;
}

.modal-btn-data {
  width: 100%;
  /* margin-left: 10px; */
}

#select-discount-btn-group {
  width: 100%;
}

#select-product-button {
  background-color: #5c6bc0;
  width: 50%;
}

#select-discount-button {
  background-color: #5c6bc0;
  width: 50%;
}

#select-collection-disc-button {
  background-color: white;
  color: #5c6bc0;
  width: 50%;
}

#select-collection-button {
  background-color: white;
  color: #5c6bc0;
  width: 50%;
}

.image-class {
  height: 35px;
  width: 35px;
}

.wizard-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #656565;
}

/*
.wizard-subtitle {
    color: #868686;
} */
/*
.wizard-subtitle {
    line-height: 1px;
} */
.product-type span {
  font-size: 14px;
}

.top-product-type p {
  font-size: 14px;
}

.bottom-product-type p {
  font-size: 14px;
}

.product-title {
  border-bottom: 1px solid #f4f4f4;
}

#topProductButton {
  color: red;
  background-color: white;
  height: 30px;
  font-size: 12px;
}

#bottomProductButton {
  color: red;
  background-color: white;
  height: 30px;
  font-size: 12px;
}

.top-class {
  margin-top: 5px;
  margin-bottom: 5px;
}

#search-input-group {
  width: 100%;
  margin-top: 2%;
}

#search-input {
  width: 80%;
  padding: 6px;
}

#search-input-disc {
  width: 80%;
  padding: 6px;
}

#search-edit-disc {
  width: 80%;
  padding: 6px;
}

.search-button {
  background-color: transparent;
  border: "1px solid gray";
  color: grey;
}

.browse-button {
  background-color: transparent;
  border: "1px solid gray";
  color: grey;
}

#selKits {
  width: 60%;
  font-size: 14px;
}

#selTypes {
  width: 100%;
  font-size: 14px;
}

#selEditKits {
  width: 60%;
  font-size: 14px;
}

#selEditTypes {
  width: 60%;
  font-size: 14px;
}

#product-btn-group {
  margin-left: 5px;
}

#edit-product-button {
  background-color: #5c6bc0;
  color: white;
  margin-right: 15px;
  border-radius: 2px;
  font-size: 14px;
}

#editdel-product-button {
  background-color: #787878;
  color: white;
  border-radius: 2px;
  font-size: 14px;
}

#delete-product-button {
  background-color: #787878;
  color: white;
  border-radius: 2px;
  font-size: 14px;
}

.form-check-label {
  font-size: 14px;
}

#filter-title-input {
  width: 90%;
  margin-bottom: 8px;
}

#selCollectionMod {
  font-size: 14px;
  width: 70%;
}

/*
#productsDataTable {
    width: 100%;
    overflow-y: scroll;
    height: 100px;
} */
/* #productsDataTable::-webkit-scrollbar {
    width: 10px;
}



#productsDataTable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f3f3f3;
    border-radius: 10px;
}

#productsDataTable::-webkit-scrollbar-thumb {
    background: #12e5b6;
    border-radius: 10px;
}

#productsDataTable::-webkit-scrollbar-thumb:hover {
    background: #12e5b6;
} */
#modal-cancel-btn {
  /* height: 30px; */
  margin: 10px;
  font-size: 14px;
  background-color: #ececec;
  color: black;
}

#modal-cancel-disc-btn {
  /* height: 30px; */
  margin: 10px;
  font-size: 14px;
  background-color: #ececec;
  color: black;
}

#modal-product-btn {
  /* height: 30px; */
  margin: 10px;
  font-size: 14px;
  background-color: green;
  color: white;
}

.modal-discount-btn {
  /* height: 30px; */
  margin: 10px;
  font-size: 14px;
  background-color: green;
  color: white;
}

.input-group-addon {
  margin-right: 5px;
  margin-top: 5px;
}

.add-color {
  text-align: left;
  margin: auto;
}

.colorpicker-component {
  width: 50%;
}

.categoriesTableDiv div {
  width: 100%;
}

#settings_submit {
  color: white;
  background-color: #5c6bc0;
}

#top_text {
  width: 50%;
}

#bottom_text,
#buy_button_text,
#price_text_font_size {
  width: 50%;
}

/*
.discounts-panel {
    border: 1px solid #eeeeee;
    margin: 30px 0;
} */
.panel-body {
  text-align: left;
}

.discounts-panel-heading {
  /* background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%) !important;
    background-image: -o-linear-gradient(top, #fff 0, #fff 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) !important;
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%) !important; */
  padding: 15px;
}

.discounts-panel-heading h3 {
  padding: 7px 0px;
}

.panel-title {
  font-size: 18px;
}

.btn-create-discount {
  background-color: #5c6bc0;
  color: white !important;
  float: right;
  font-size: 14px;
}

.panel-create-discount {
  background-color: #5c6bc0;
  color: white;
}

td {
  font-size: 14px;
  background-color: white;
}

.disctypediv {
  border-bottom: 1px solid #d9d9d9;
}

.disccodediv {
  border-bottom: 1px solid #d9d9d9;
}

.discount-form-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.form-info-text {
  font-size: 10px;
}

.generate-link {
  font-size: 14px;
  color: #5c6bc0;
  font-weight: bold;
}

#create_discount_code {
  font-size: 14px;
  border: 1px solid #5c6bc0;
}

#edit_discount_code {
  font-size: 14px;
  border: 1px solid #5c6bc0;
}

.discount-type-label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

#create_discount_type {
  font-size: 14px;
}

#edit_discount_type {
  font-size: 14px;
}

#discount_percent_val {
  font-size: 14px;
}

#edit_discount_percent_val {
  font-size: 14px;
}

.radio-label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.btn-add-discount {
  float: left;
  font-size: 14px;
  background-color: #5c6bc0;
  color: white;
}

.btn-edit-discount {
  float: left;
  font-size: 14px;
  background-color: #5c6bc0;
  color: white;
}

.btn-edit-discount a {
  background-color: #5c6bc0;
  color: white;
}

.btn-cancel-discount {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  background-color: #ececec;
  color: white;
  border: 1px solid black;
}

#discount-action-div {
  float: left;
  /* margin-left: 15px; */
}

#discount-action {
  font-size: 14px;
  width: 150px;
}

#product-filter {
  width: 100%;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 14px;
}

#kit-filter {
  width: 100%;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 14px;
}

#product-action {
  width: 100px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 14px;
}

#filter-title-disc-input {
  width: 100%;
}

.panel-delete-discount {
  margin: 10px;
  font-size: 14px;
  background-color: white;
  color: #5c6bc0;
  border: 1px solid #5c6bc0;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.btn-add-products {
  background-color: white;
  color: red;
  border: 1px solid #5c6bc0;
  font-size: 13px;
}

.btn-add-products:hover {
  background-color: white;
  color: red;
  border: 1px solid #5c6bc0;
  font-size: 13px;
}

.next-prev-row {
  border-top: 1px solid #f4f4f4;
  /* margin: 1.6rem auto 0; */
  padding-top: 1.6rem;
}

.wizard .nav-tab li.completed:after {
  border-top: 2px solid #5c6bc0;
}

.wizard li.completed span.round-tab {
  border: 2px solid #5c6bc0;
}

.wizard li.completed span.round-tab img.enabled {
  display: inline-block;
}

.wizard li.completed span.round-tab img.disabled {
  display: none;
}

.wizard .nav-tabs>li.completed p {
  /*color: #555555;*/
  color: #5c6bc0;
  padding-left: 10px;
}

.btn-step-completed {
  color: #000;
}

.save-kit-btn {
  padding: 15px;
}

a.btn.btn-primary.btn-edit.btn-edit-sm {
  background-color: #ececec;
}

a.btn.btn-primary.btn-delete.btn-delete-sm:hover {
  background-color: #f4f4f4;
}

#categoryModal .modal-content {
  width: 50%;
}

#deleteCategoryModal .modal-content {
  width: 50%;
}

.modal {
  z-index: 2;
}

#deleteProductModal .modal-content {
  /* width: 50%; */
}

#deleteDiscountModal .modal-content {
  width: 50%;
}

#messageModal .modal-content {
  width: 50%;
}

#delete-kit-button,
#delete-product-button {
  margin: 10px;
  color: white;
  background-color: #f53131;
  font-size: 14px;
  border: none;
}

#cancel-kit-button {
  margin: 10px;
  color: black;
  background-color: white;
  font-size: 14px;
}

#kit-btn-group {
  float: right;
}

#del-product-button {
  margin: 10px;
  color: white;
  background-color: red;
  font-size: 14px;
}

#cancel-product-button {
  margin: 10px;
  color: black;
  background-color: white;
  font-size: 14px;
}

#del-product-btn-group {
  float: right;
}

#del-discount-button {
  margin: 10px;
  color: white;
  background-color: red;
  font-size: 14px;
}

#cancel-discount-button {
  margin: 10px;
  color: black;
  background-color: white;
  font-size: 14px;
}

#del-discount-btn-group {
  float: right;
}

.jq-toast-single {
  padding: 23px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 1.5rem;
}

.jq-toast-wrap {
  width: 300px;
}

.close-jq-toast-single {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 24px;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #dadada;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 10px;
  border-bottom: 1px solid #fff;
}

.modal-header {
  font-weight: 500;
}

.jq-toast-wrap.bottom-left {
  bottom: 0;
  margin-left: 35%;
}

.btn-create-products {
  margin: 3px;
  background-color: #5c6bc0;
  color: white;
  float: right;
  font-size: 14px;
}

#productsDataTableDiv {
  margin: 0;
  width: 100%;
  padding: 0;
}

#discountsTableDiv {
  margin: 0;
  width: 100%;
  padding: 0;
}

#productsTableDiv {
  margin: 0;
  width: 100%;
  padding: 0;
}

/*
#productsTableDiv {
    margin-left: 10px;
}

#productsTableDiv #productsTable_wrapper {
    padding-top: 5px !important;
    width: 100%;
} */
/*
div.dataTables_wrapper div.dataTables_info {
    padding: 5px 0px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    float: left;
}

div.dataTables_wrapper div.dataTables_length {
    float: left;
    margin-left: 10px;
    font-size: 14px;
}

div.dataTables_wrapper div.dataTables_filter {
    float: left;
}

div.dataTables_wrapper div.dataTables_length select {
    padding: 10px;
    font-size: 14px;
} */
/*
.dataTables_paginate {
    float: right;
} */
.panel-body .row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dataTables_wrapper {
  width: 100%;
  padding: 0;
}

#product-table-action {
  margin-left: 0px;
}

.dataTables_wrapper .row {
  width: 100%;
  margin: 0;
}

#productsDiscTable_wrapper .row {
  width: 100%;
}

.product-list {
  margin-left: 8px;
}

/*
#modal-product-btn-group {
    margin: 10px;
} */
.col-sm-12 {
  width: 100%;
  margin: 0;
  padding: 0;
}

div.container {
  width: 100%;
}

#message {
  width: 50%;
  padding: 0.4rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#submessage {
  width: 50%;
  padding: 0.4rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#page_title {
  width: 50%;
}

.paginate_button a {
  color: gray;
}

li.paginate_button:hover {
  background: none !important;
  border: none !important;
}

.pagination li.previous a {
  color: purple;
  font-weight: 500;
}

.pagination li.next a {
  color: purple;
  font-weight: 500;
}

.pagination li.disabled a {
  color: grey;
  font-weight: normal;
}

.pagination li.active a {
  color: purple;
  font-weight: 500;
}

.active-date-label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  text-align: left;
}

form#add_product_form label,
form#add_product_form label p {
  font-weight: 500;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}

#products-modal-loader {
  margin-left: 45%;
  /* margin-top: 20%; */
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
}

#productsDisc-modal-loader {
  margin-left: 45%;
  /* margin-top: 20%; */
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
}

#loading-image {
  width: 50px;
}

#loading-image1 {
  width: 50px;
}

#product-count {
  width: 100%;
}

.productRow {
  text-align: left;
  padding: 20px;
  font-size: 14px;
  width: 90%;
  border-bottom: 1px solid #ececec;
}

.product-close {
  font-size: 14px;
}

#product-selectAll {
  margin-left: 8%;
}

.arrow-class {
  margin-bottom: 2%;
}

.arrow-img {
  width: 25px;
}


.color-bar {
  margin-bottom: 2%;
  width: 100% !important
}

.color-swatch {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: auto;
}

.top-color-swatch {
  height: 15px;
  width: 30px;
  margin: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.bottom-color-swatch {
  height: 15px;
  width: 30px;
  margin: auto;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.color-number-class {
  width: 25%;
  padding: 2%;
}

#colorModal .modal-body .row {
  margin-bottom: 2%;
}

#colorModal .modal-content {
  width: 50%;
}

.color-name {
  font-weight: bold;
}

.color-number {
  width: 100%;
  border: 1px solid black;
  height: 38px;
  padding: 2%;
}

.modal-label {
  font-size: 14px;
  color: black;
}

#save-color-btn {
  background-color: black;
}

.modal-color-bar {
  margin-bottom: 2%;
}

.color_bar_text {
  border: 1px solid black;
  width: 80%;
}

.modal-color-text {
  border: 1px solid black;
  width: 80%;
}

#colorsTable thead {
  text-align: center;
}

#colorsTable tbody tr {
  text-align: center;
}

#colorsTable thead tr {
  background-color: #ebebeb;
}

.add-swatch-img {
  width: 30px;
}

.kit-dropdown-class {
  display: none;
}

@media only screen and (max-width: 767px) {

  .wizard-text-class {
    height: 50%;
  }


  #product-data-selectall {
    margin-left: 18%;
  }

  .category-list-class {
    padding-top: 20px;
  }

  .tab-class {
    padding: 0;
  }

  #deleteCategoryModal .modal-content {
    width: 70%;
  }

  #selKits {
    width: 80%;
  }

  #selTypes {
    width: 80%;
  }

  #selEditKits {
    width: 80%;
  }

  #selEditTypes {
    width: 80%;
  }

  #search-input {
    width: 40%;
  }

  #product-btn-group {
    margin-left: 0px;
  }

  #select-product-button {
    font-size: 10px;
  }

  #select-collection-button {
    font-size: 10px;
  }

  #filter-title-input {
    font-size: 10px;
  }

  .colorpicker-component {
    width: 70%;
  }

  #page_title {
    width: 70%;
  }

  #message {
    width: 70%;
  }

  #submessage {
    width: 70%;
  }

  .discount-form-title {
    margin-left: 0px;
  }

  .discount-type-label {
    margin-left: 0px;
  }

  .active-date-label {
    margin-left: 0px;
  }

  .radio-label {
    margin-left: 0px;
  }

  #search-input-disc {
    width: 60%;
  }

  .wizard {
    /*width: 90%;*/
    height: auto !important;
  }

  .wizard .nav-tabs>li a {
    /*width: 50px;
          height: 50px;
          line-height: 50px;*/
    width: 40px;
    height: 40px;
    line-height: 30px;
  }

  .wizard .nav-tabs>li {
    /*width: 25%;*/
    margin-bottom: 32px;
  }

  #create_discount_code {
    font-size: 12px;
  }

  #create_discount_type {
    font-size: 12px;
  }

  #discount_percent_val {
    font-size: 12px;
  }

  #discount_fixed_val {
    font-size: 12px;
  }

  #minimum_price_val {
    font-size: 12px;
  }

  #start_date {
    font-size: 12px;
  }

  #end_date {
    font-size: 12px;
  }

  #edit_start_date {
    font-size: 12px;
  }

  #edit_end_date {
    font-size: 12px;
  }

  #select-discount-button {
    font-size: 12px;
  }

  #select-collection-disc-button {
    font-size: 12px;
  }

  #filter-title-disc-input {
    font-size: 12x;
  }

  #search-edit-disc {
    width: 60%;
  }

  .kit-image-holder {
    padding: 10% !important
  }

  .upload-btn-wrapper {
    margin-bottom: 20%;
    margin-top: 20%;
  }

  .kit-listing-class {
    display: none;
  }

  #product-filter {
    width: 100%;
  }

  #product-action {
    width: 100%;
  }

  #add-search-product {
    margin-top: 5%;
  }

  .kit-dropdown-class {
    display: block;
    padding-right: 10%;
  }

  .modal-content {
    width: 85%;
  }

  #colorModal .modal-content {
    width: 85%;
  }

  .jq-toast-single {
    padding: 10px;
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.5rem;
  }

  .jq-toast-wrap {
    width: 250px;
  }

  .close-jq-toast-single {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 24px;
  }

  .jq-toast-wrap.bottom-left {
    bottom: 0;
    margin-left: 10%;
  }

}

#create_style_container,
#create_kit_container {
  display: none;
}

#edit_style_container,
#edit_kit_container,
#edit_product_container {
  display: none;
}

.style-details,
.kit-details {
  padding-left: 0;
  padding-right: 2%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.switch-slider {
  background-color: #5c6bc0;
}

input:focus+.switch-slider {
  box-shadow: 0 0 1px #5c6bc0;
}

input:checked+.switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.form-instructions {
  font-size: 12px;
  color: #8a8a8a;
  margin-top: 10px;
}

.browse-input .input-group-addon {
  border-radius: 3px;
  border: 1px solid #ced4da;
  padding: 8px;
  border-right: 0;
  margin-right: 0;
  margin-top: 0;
  padding-top: 10px;
  font-size: 16px;
}

.browse-input .form-control:disabled {
  background-color: #fff;
  border-left: 0;
}

.browse-input .browse,
.browse-input .browse:focus {
  height: 100%;
  width: 100px;
  border-left-width: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 14px;
  background-color: #c5c5c5;
  border-color: #c5c5c5;
  color: #000;
  line-height: 2.5;
  box-shadow: none;
}

.image-container {
  border: 2px solid #dedede;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 2%;
  max-height: 330px;
}

.image-container .col-form-label {
  font-weight: 600;
  font-weight: bold;
  padding-left: 0;
  font-size: 16px;
}

.image-container .image-window {
  background-color: #f1f0f0;
  text-align: center;
  border: 2px dotted #7da7d9;
  border-radius: 10px;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20%;
}

.image-container .image-window .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  top: 5%;
  margin-top: 0;
}

.image-container .image-window .upload-btn-wrapper #files {
  width: 100%;
  height: 100%;
}

#style-image-btn {
  border: 1px solid gray;
  color: white;
  background-color: #5c6bc0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
}

#style-image-btn i {
  font-size: 12px;
  margin-right: 10px;
}

#container-bottom-btn-group {
  margin-top: 2%;
  float: left;
  width: 50%;
}

#container-bottom-btn-group .btn {
  color: white;
  font-size: 14px;
  width: 130px;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
}

#container-bottom-btn-group .create-btn,
#container-bottom-btn-group .create-btn:focus {
  background-color: #5c6bc0;
  border-color: #5c6bc0;
  box-shadow: none;
}

#container-bottom-btn-group .cancel-btn,
#container-bottom-btn-group .cancel-btn:focus {
  margin-left: 4%;
  background-color: #787878;
  border-color: #787878;
  box-shadow: none;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
}

.modal-body .btn-primary {
  background-color: #5c6bc0;
  color: #fff;
  width: 50%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.modal-body .btn-group>.btn:first-child {
  margin-right: 3px;
}

.modal-body .input-group-addon {
  border: 1px solid #ced4da;
  padding: 5px;
  margin-top: 0;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  padding-left: 15px;
  color: #9e9e9f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal-body .input-group-addon .glyphicon {
  top: 8px;
}

.modal-body .search-box {
  padding: 10px;
  margin-bottom: 0 !important;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-body .search-box:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.modal-footer .modal-cancel-btn {
  background-color: #fff !important;
  border-color: #787878;
  color: #9f9f9f !important;
  box-shadow: none;
  color: #787878;
  padding: 10px 15px;
  width: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-footer .add-modal-btn {
  background-color: #5c6bc0 !important;
  border-color: #5c6bc0;
  box-shadow: none;
  color: #fff;
  padding: 10px 15px;
  width: 90px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
  font-size: 14px;
}

.style-products-container,
.all-styles-container {
  margin: 15px 10px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

.style-products-container img,
.all-styles-container img {
  width: 55px;
  height: 56px;
  border: 1px solid #cfcfcf;
  margin-left: 5px;
  padding: 5px;
  vertical-align: middle;
}

.style-products-container label,
.all-styles-container label {
  color: #6d6d6d;
  margin-left: 35px;
  font-size: 18px;
  text-transform: capitalize;
}

.style-products-container .input-group-addon,
.all-styles-container .input-group-addon {
  float: right;
  margin-right: 25px;
  border: none;
}

.style-products-container .up-icon {
  display: none;
}

.style-products-container .down-icon {
  color: #5c6bc0;
}

.style-products-container hr,
.all-styles-container hr {
  margin-left: 15px;
  margin-right: 20px;
}

.style-products-container .products-row,
.all-styles-container .styles-row {
  margin: 0 15px;
}

.check-container {
  /* margin-left: 0; */
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
/* .check-container input:checked~.checkmark {
  border: 1px solid #5c6bc0;
  color: #5c6bc0;
} */

.check-container .checkmark.active {
  border: 1px solid #5c6bc0;
  color: #5c6bc0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
/* .check-container input:checked~.checkmark:after {
  display: block;
} */

.check-container .checkmark.active:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #5c6bc0;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top-products-container a[aria-expanded=true] .down-icon {
  display: none !important;
}

.top-products-container a[aria-expanded=false] .down-icon {
  display: block !important;
}

.top-products-container a[aria-expanded=true] .up-icon {
  display: block !important;
}

.top-products-container a[aria-expanded=false] .up-icon {
  display: none !important;
}

.bottom-products-container a[aria-expanded=true] .down-icon {
  display: none !important;
}

.bottom-products-container a[aria-expanded=false] .down-icon {
  display: block !important;
}

.bottom-products-container a[aria-expanded=true] .up-icon {
  display: block !important;
}

.bottom-products-container a[aria-expanded=false] .up-icon {
  display: none !important;
}

.bottom-products-container {
  display: none;
}

#select-product-btn-group {
  width: 100%;
}

#select-product-btn-group .btn-primary {
  box-shadow: none;
}

#select-product-btn-group .btn {
  background-color: #5c6bc0;
}

#select-product-btn-group .active {
  background-color: #3a4377;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.loader {
  display: none;
  height: 200px;
  text-align: center;
}

.loader img {
  position: absolute;
  top: 30%;
}

.records-not-found {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

body.modal-open {
  overflow: hidden;
}

.selected-collections-container,
.selected-styles-container {
  max-height: 300px;
  overflow-y: auto;
}

.selected-collections-container .row:first-child,
.selected-styles-container .row:first-child {
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #eaeaea;
}

.selected-collections-container .row:not(:first-child),
.selected-styles-container .row:not(:first-child) {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #eaeaea;
}



.selected-collections-container img,
.selected-styles-container img {
  width: 55px;
  height: 56px;
  border: 1px solid #cfcfcf;
  margin-left: 5px;
  padding: 5px;
  vertical-align: middle;
}

.selected-collections-container .collection-name,
.selected-styles-container .collection-name {
  /* width: 250px; */
  width: 35%;
  padding-top: 18px;
  padding-left: 25px;
  font-size: 16px;
  text-transform: capitalize;
}

.selected-collections-container .products-count-label,
.selected-styles-container .products-count-label {
  /* width: 350px; */
  /* width: 45%; */
  width: 35%;
  padding-top: 18px;
  font-size: 16px;
  font-style: italic;
}

.selected-collections-container .delet-collection-btn,
.selected-collections-container .edit-collection-btn,
.selected-styles-container .delet-style-btn {
  width: 10%;
  text-align: right;
  padding-top: 18px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.selected-collections-loader,
.selected-styles-loader {
  display: none;
  height: 200px;
  text-align: center;
}

.selected-collections-loader img,
.selected-styles-loader img {
  position: absolute;
  top: 30%;
}

#stylesTable a,
#kitsTable a,
#productsTable a {
  background: #fff;
  border: none !important;
  color: #5c6bc0 !important;
  font-size: 14px;
  font-weight: bold;
}

#style-table-action,
.style-search-container,
.kit-search-container,
.product-search-container {
  margin-top: 1%;
  padding-right: 0;
}

#style-action,
#kit-action,
#product-action {
  margin-left: 20px;
  height: 40px;
  border-radius: 0;
  width: 160px;
  float: right;
  margin-right: 15px;
}

.style-search-container .input-group,
.kit-search-container .input-group,
.product-search-container .input-group {
  border: 1px solid #ced4da;
  height: 41px;
  width: 50%;
}

.style-search-container .input-group .input-group-addon,
.kit-search-container .input-group .input-group-addon,
.product-search-container .input-group .input-group-addon {
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.style-search-container .input-group .search-box,
.style-search-container .input-group .search-box:focus,
.kit-search-container .input-group .search-box,
.kit-search-container .input-group .search-box:focus,
.product-search-container .input-group .search-box,
.product-search-container .input-group .search-box:focus {
  border: 0;
  box-shadow: none;
}

.create-style,
.create-kit,
.create-product {
  /* margin-top: 10%;
  margin-bottom: 10%; */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #757575;
}

#cancel-style-button,
#cancel-kit-button {
  margin: 10px;
  color: black;
  background-color: white;
  font-size: 14px;
}

#delete-style-button,
#delete-kit-button {
  margin: 10px;
  color: white;
  background-color: #f53131;
  font-size: 14px;
  border: none;
}

.table-check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.table-check-container .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
/* .check-container input:checked~.checkmark {
  border: 1px solid #5c6bc0;
  color: #5c6bc0;
} */

.table-check-container .checkmark.active {
  border: 1px solid #5c6bc0;
  color: #5c6bc0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.table-check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
/* .check-container input:checked~.checkmark:after {
  display: block;
} */

.table-check-container .checkmark.active:after {
  display: block;
}

/* Style the checkmark/indicator */
.table-check-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #5c6bc0;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#add_style_form label,
#edit_style_form label,
#add_kit_form label,
#edit_kit_form label {
  font-size: 14px;
  padding-left: 0;
  color: #4f4f4f;
  font-weight: bold;
}

.radio-container {
  /* display: block; */
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 2px;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 3px;
  top: 3px;
  z-index: 1;
}

/* Create a custom radio button */
.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #c5c5c5;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
  background-color: #fff;
  border: 2px solid #5c6bc0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #5c6bc0;
}

.products-loader {
  display: none;
  text-align: center;
  height: 350px;
  padding-top: 150px;
}

.btn-save-settings,
.btn-save-settings::after,
.btn-save-settings:hover,
.btn-save-settings::before {
  background-color: #5c6bc0;
  color: white !important;
  font-size: 14px;
  /* width: 15%; */
  text-align: center !important;
  margin-top: 2%;
  padding: 10px 35px;
  border-radius: 2px;
  font-weight: bold;
}

.bg-dark {
  background-color: #5c6bc0 !important;
}

.prouct-container .down-icon,
.prouct-container .up-icon {
  font-size: 18px;
}


.placeholder-image-window {
  background-color: #f1f0f0;
  text-align: center;
  height: 25%;
  width: 25%;
  border: 2px dotted #7da7d9;
  border-radius: 10px;
  background-image: url(https://blackboughswim.applicationnexus.com/public/images/placeholder.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.placeholder-upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 25%;
  width: 100%;
}

.placeholder-upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.placeholder-upload-btn-wrapper .btn {
  border: 1px solid gray;
  color: white;
  background-color: #5c6bc0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
}

#createDiscountDiv,
#editDiscountDiv {
  display: none;
}